/* EXTERNAL FONT */

@font-face{
  font-family: "Montserrat Bold";
  src: url("../font/montserrat/Montserrat-Bold.otf");
}

@font-face{
  font-family: "Montserrat BoldItalic";
  src: url("../font/montserrat/Montserrat-BoldItalic.otf");
}

@font-face{
  font-family: "Montserrat SemiBold";
  src: url("../font/montserrat/Montserrat-SemiBold.otf");
}

@font-face{
  font-family: "Montserrat Medium";
  src: url("../font/montserrat/Montserrat-Medium.otf");
}

@font-face{
  font-family: "Montserrat MediumItalic";
  src: url("../font/montserrat/Montserrat-MediumItalic.otf");
}

@font-face{
  font-family: "Montserrat Regular";
  src: url("../font/montserrat/Montserrat-Regular.otf");
}

.card, .navbar, .pagination .page-item.active .page-link {
  box-shadow: none;
}

.navbar {
  font-weight: 300;
  margin-top: 0px;;
}

.card-comments img {
  width: 4rem; 
}

  .navbar .navbar-brand img {
   /* height: 20px; */
   width: 117px;
   height: 38px;
   
 }


 .navbar .navbar-brand {
   padding-top: 0;
 }

 .navbar .nav-link {
   font-family: SemiBold 15px/19px Montserrat;
   letter-spacing: 0;
   color: #06187D!important;;
   opacity: 1;
   margin-left: 30px;
   font-weight:bolder;
 }

 .navbar .button-collapse {
   padding-top: 1px;
 }




 
 .card-intro .card-body {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
   border-radius: 0 !important;
 }

 .card-intro .card-body h1 {
   margin-bottom: 0;
 }

 .card-intro {
   margin-top: 64px;
 }

 @media (max-width: 450px) {
   .card-intro {
     margin-top: 56px;
   }
 }

 @media (min-width: 1441px) {
   .card-intro {
     padding-left: 0 !important;
   }
 }

 



.dropdown {
  float: left;
  
}

.dropdown .dropdown-default {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-toggle{
  color: #F5BA5B;
}

/* .navbar a:hover, .dropdown:hover .dropdown-default {
  background-color: #5081DB;
  color: #FFFFFF;
} */

.dropdown .dropdown-default{
  background-color: #5081DB;
  color: #F5BA5B;
}

.navbar nav-item a:hover{
  color: #F5BA5B;
}

.dropdown-menu {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  color: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: white;
  color: #06187D;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.login{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F5BA5B;
  border-radius: 8px;
  width: 165px;
  height: 40px;
  opacity: 1;
  text-align: center;
  text-align: left;
  font-family: Montserrat;
  letter-spacing: 0;
  color: #DF9F37;
}

.login_style{
  width: 48px;
  height: 19px;
  text-align: left;
  font-size: 15px;
  font-family: Montserrat SemiBold;
  letter-spacing: 0;
  color: #DF9F37;
  opacity: 1;
}

.signup{
  width: 165px;
  height: 40px;
  background: #06187D 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
}

.signup_style{
  width: 58px;
  height: 19px;
  text-align: left;
  font-size: 15px;
  font-family: Montserrat Medium;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
}

.safe_investing{
  
  text-align: left;
  font-family: Montserrat Bold;
  /* font-weight: bold; */
  letter-spacing: 0;
  font-size: 28px;
  color: #06187D;
  opacity: 1;
  margin-top: 30%;
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .safe_investing{
    text-align: left;
    font-family: Montserrat Bold;
    /* font-weight: bold; */
    letter-spacing: 0;
    font-size: 28px;
    color: #06187D;
    opacity: 1;
    margin-top: 7%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .safe_investing{
    text-align: left;
    font-family: Montserrat Bold;
    /* font-weight: bold; */
    letter-spacing: 0;
    font-size: 28px;
    color: #06187D;
    opacity: 1;
    margin-top: 7%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .safe_investing{
    text-align: left;
    font-family: Montserrat Bold;
    /* font-weight: bold; */
    letter-spacing: 0;
    font-size: 28px;
    color: #06187D;
    opacity: 1;
    margin-top: 7%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
.safe_investing{
  text-align: left;
  font-family: Montserrat Bold;
  /* font-weight: bold; */
  letter-spacing: 0;
  font-size: 28px;
  color: #06187D;
  opacity: 1;
  margin-top: 7%;
}
  
}


.invest{
  text-align: left;
  font-family: Montserrat Regular;
  font-size: 16px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  padding-top: 3%;
}




/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .invest{
    text-align: left;
    font-family: Montserrat Regular;
    font-size: 14px;
    letter-spacing: 0;
    color: #06187D;
    opacity: 1;
    padding-top: 3%;
  }
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .invest{
    text-align: left;
    font-family: Montserrat Regular;
    font-size: 14px;
    letter-spacing: 0;
    color: #06187D;
    opacity: 1;
    padding-top: 3%;
  }
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .invest{
    text-align: left;
    font-family: Montserrat Regular;
    font-size: 12px;
    letter-spacing: 0;
    color: #06187D;
    opacity: 1;
    padding-top: 3%;
  }
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .invest{
    text-align: left;
    font-family: Montserrat Regular;
    font-size: 12px;
    letter-spacing: 0;
    color: #06187D;
    opacity: 1;
    padding-top: 3%;
  }
  
}


.mock_backgroud{
 padding-left:0px;
 margin-top: -7%;
 margin-left: -80%;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .mock_backgroud{
    padding-left:0px;
    margin-top: -7%;
    margin-left: -50%;
    width: 530px;
    height: 370px;
   }
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .mock_backgroud{
    padding-left:0px;
    margin-top: -7%;
    margin-left: -50%;
    width: 450px;
    height: 370px;
   }
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .mock_backgroud{
    padding-left:0px;
    margin-top: -7%;
    margin-left: -50%;
    width: 450px;
    height: 370px;
   }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .mock_backgroud{
    padding-left:0px;
    margin-top: -7%;
    margin-left: -50%;
    width: 450px;
    height: 370px;
   }
  
}

.btn_invest{
  width: 205px;
  height: 60px;
  background: #06187D 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Montserrat SemiBold;
  font-size: 16px;
  opacity: 1;
  text-transform: capitalize;
}


.marquee{
  height: 45px;
  background: #06187D 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #FFFFFF;
  padding-top: 10px;
  margin-top: 0px;
  font-family: Montserrat Medium;
  letter-spacing: 0;
}

.marquee ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.marquee span{
  padding-left: 20px;
}

.marquee b{
  padding-right: 10px;
  font-family: Montserrat SemiBold;
  /* font-size: 12px; */
}


.bg_investing_experience{
  background: #F0F8FE 0% 0% no-repeat padding-box;
  opacity: 1;
}

.new_kind{
  margin-top: 0%;
  margin-bottom: 60px;
  text-align: center;
  font-family:Montserrat Bold;
  /* font-weight: bold; */
  font-size: 30px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}


.easy_sign_up{
  width: 202px;
  height: 181px;
}

.investing_img{
  width: 220px;
  height: 181px;
  opacity: 1;
}



.easy{
  text-align: center;
  margin-left: -40%;
  font-family:Montserrat Bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-top: 5%;
}

.easy2{
  text-align: center;
  margin-left: -20%;
  letter-spacing: 0;
  font-family:Montserrat Bold;
  font-size: 18px;
  color: #06187D;
  opacity: 1;
  margin-top: 5%;
}


.tradeFi_para{
  text-align: center;
  font-size: 15px;
  float: left;
  font-family: Montserrat Regular;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
 margin-top: 10%;

}


.tradeFi_para1{
  text-align: center;
  font-size: 15px;
  float: left;
  font-family: Montserrat Regular;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-top: 5%;

}

.let_begin{
  width: 180px;
  height: 57px;
  text-align: center;
  border: 1px solid #06187D;
  border-radius: 10px;
  opacity: 1;
  color: #06187D;
  font-family: Montserrat SemiBold;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 100px;
  margin-left: -40px;
  margin-top: 20%;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .let_begin{
    width: 180px;
    height: 57px;
    text-align: center;
    border: 1px solid #06187D;
    border-radius: 10px;
    opacity: 1;
    color: #06187D;
    font-family: Montserrat SemiBold;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 100px;
    /* margin-left: -40px; */
    margin-top: 20%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .let_begin{
  width: 180px;
  height: 57px;
  text-align: center;
  border: 1px solid #06187D;
  border-radius: 10px;
  opacity: 1;
  color: #06187D;
  font-family: Montserrat SemiBold;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 100px;
  margin-left: -40px;
  margin-top: 20%;
}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .let_begin{
    width: 180px;
    height: 57px;
    text-align: center;
    border: 1px solid #06187D;
    border-radius: 10px;
    opacity: 1;
    color: #06187D;
    font-family: Montserrat SemiBold;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 100px;
    /* margin-left: -40px; */
    margin-top: 20%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .let_begin{
    width: 180px;
    height: 57px;
    text-align: center;
    border: 1px solid #06187D;
    border-radius: 10px;
    opacity: 1;
    color: #06187D;
    font-family: Montserrat SemiBold;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 100px;
    /* margin-left: -40px; */
    margin-top: 20%;
  }
  
}

.ready_to_invest_bg{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.ready_to_invest{
  text-align: left;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  font-family: Montserrat SemiBold;
  font-size: 40px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.ready_to_invest_para{
  text-align: left;
  font-family: Montserrat Regular;
  font-size: 15px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-bottom: 5%;
}

.input_stlyle{
  width: 295px;
  height: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #06187D;
  border-radius: 10px;
  opacity: 1;
}





/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .input_stlyle{
    width: 330px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    border-radius: 10px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .input_stlyle{
    width: 330px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    border-radius: 10px;
    opacity: 1;
  }
  
}

::placeholder {
  text-align: left;
  font-family: Montserrat MediumItalic;
  font-size: 15px;
  color: #6A8AC4 !important;
  /* font-style: italic; */
  opacity: 1;
  margin-top: 40px;
}

#form75{
  width: 349px;
  height: 285px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #06187D;
  border-radius: 10px;
  opacity: 1;
}


#displayPro{
  width: 349px;
  height: 285px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #06187D;
  color: #06187D;
  border-radius: 10px;
  opacity: 1;
  text-align: left;
  font-family: Montserrat;
  font-size: 15px;
  /* color: #6A8AC4 !important; */
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  #displayPro{
    width: 330px;
    height: 285px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    color: #06187D;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: Montserrat;
    font-size: 15px;
    /* color: #6A8AC4 !important; */
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #displayPro{
    width: 330px;
    height: 285px; 
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    color: #06187D;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: Montserrat;
    font-size: 15px;
    /* color: #6A8AC4 !important; */
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  #displayPro{
    width: 330px;
    height: 285px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    color: #06187D;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: Montserrat;
    font-size: 15px;
    /* color: #6A8AC4 !important; */
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  #displayPro{
    width: 330px;
    height: 285px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    color: #06187D;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: Montserrat;
    font-size: 15px;
    /* color: #6A8AC4 !important; */
  }
  
}

#displayPro1{
  width: 349px;
  height: 285px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #06187D;
  color: #06187D;
  border-radius: 10px;
  opacity: 1;
  text-align: left;
  font-family: Montserrat MediumItalic;
  font-size: 15px;
  /* color: #6A8AC4 !important; */
} 

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  #displayPro1{
    width: 330px;
    height: 285px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    color: #06187D;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: Montserrat MediumItalic;
    font-size: 15px;
    /* color: #6A8AC4 !important; */
  } 
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #displayPro1{
    width: 330px;
    height: 285px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    color: #06187D;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: Montserrat MediumItalic;
    font-size: 15px;
    /* color: #6A8AC4 !important; */
  } 
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  #displayPro1{
    width: 330px;
    height: 285px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    color: #06187D;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: Montserrat MediumItalic;
    font-size: 15px;
    /* color: #6A8AC4 !important; */
  } 
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  #displayPro1{
    width: 330px;
    height: 285px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #06187D;
    color: #06187D;
    border-radius: 10px;
    opacity: 1;
    text-align: left;
    font-family: Montserrat MediumItalic;
    font-size: 15px;
    /* color: #6A8AC4 !important; */
  } 
  
}

#displayPro .active{
  cursor: pointer;
}

#displayPro .selected{
  cursor: pointer;
  background:#06187D ;
  color: #fff;
}

.calculate{
  /* width: 130px; */
  height: 50px;
  background: #06187D 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: #FFFFFF;
  font-weight:  15px;
  opacity: 1;
  font-family: Montserrat Bold;
  text-transform: capitalize;
}


.container_calculate{
  margin-top: -10%;
 }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 .container_calculate{
  margin-top: 0%;
 }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .container_calculate{
    margin-top: 0%;
   }
  
}

.benefits{
  text-align: left;
  letter-spacing: 0;
  font-size: 40px;
  margin-top: 4%;
  margin-left: 5%;
  font-family: Montserrat Bold;
  color: #06187D;
  opacity: 1;
}

.benefits_padding{
  margin-left: 1%;
}

.benefits_heading{
  text-align: left;
  font-size: 25px;
  font-family: Montserrat Bold;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}

.benefits_para{
  text-align: left;
  font-size: 15px;
  font-family: Montserrat Regular;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-bottom: 5%;
}

.benefits_btn{
  width: 179px;
  height: 52px;
  border-radius: 10px;
  background-color: #5081db;
  color: #FEFEFE;
  font-family: Montserrat Medium;
  font-size: 15px;
  opacity: 1;
  margin-bottom: 5%;
}


.benefits_img{
  width: 584px;
  height: 630px;
  margin-left: -33%;
  border: 1px solid #707070;
  border-radius: 0px 30px;
  opacity: 1;
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .benefits_img{
    width: 400px;
    height: 630px;
    margin-left: -33%;
    border: 1px solid #707070;
    border-radius: 0px 30px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .benefits_img{
    width: 400px;
    height: 630px;
    margin-left: -33%;
    border: 1px solid #707070;
    border-radius: 0px 30px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .benefits_img{
    width: 400px;
    height: 630px;
    margin-left: -33%;
    border: 1px solid #707070;
    border-radius: 0px 30px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .benefits_img{
    width: 330px;
    height: 330px;
    margin-left: 1%;
    border: 1px solid #707070;
    border-radius: 0px 30px;
    opacity: 1;
  }
  
}

.testimony_head{
  text-align: center;
  font-size: 40px;
  font-family: Montserrat Bold;
  letter-spacing: 0;
  color: #06187D;
  font-weight: bold;
  opacity: 1;
}



.testimony_card{
  width: 343px;
  height: 284px;
  background: #06187D 0% 0% no-repeat padding-box;
  border-radius: 20px;
  color: #FFFFFF;
  opacity: 1;
}



.testimony_para{
  text-align: left;
  letter-spacing: 0;
  font-size: 20px;
  color: #FFFFFF;
  font-family: Montserrat MediumItalic;
  opacity: 1;
  margin-top: 10%;
}

.testimony_img{
  margin-top: 10%;
  width: 60px;
  height: 60px;
}


.testimony_img{
  margin-top: 10%;
  width: 60px;
  height: 60px;
}

.testimony_span{
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  color: #FFFFFF;
  font-family: Helvetica Neue;
  opacity: 1;
  margin-top: 18%;
}

.download_app{
  width: 1089px;
  height: 225px;
  background: #06187D 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  margin-bottom: 10%;
}

.download_app_hd{
  text-align: center;
  font-family:  Montserrat SemiBold;
  letter-spacing: 0;
  font-size: 27px;
  margin-top: 3%;
  color: #FFFFFF;
  opacity: 1;
}

.download_app_para{
  text-align: left;
  font-family: Montserrat Regular;
  letter-spacing: 0;
  font-size: 26px;
  color: #FFFFFF;
  opacity: 1;
}

.download_app_img{
  width: 190px;
  height: 54px;
  border-radius: 10px;
  opacity: 1;
  margin-left: 8%;
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .download_app_img{
    width: 135px;
    height: 45px;
    border-radius: 10px;
    opacity: 1;
    margin-left: 6%;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .download_app_img{
    width: 135px;
    height: 45px;
    border-radius: 10px;
    opacity: 1;
    margin-left: 6%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .download_app_img{
    width: 135px;
    height: 45px;
    border-radius: 10px;
    opacity: 1;
    margin-left: 6%;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .download_app_img{
  width: 135px;
  height: 45px;
  border-radius: 10px;
  opacity: 1;
  margin-left: 6%;
}
  
}


.dotted_img{
  width: 10px;
  height: 10px;
  margin: 10px;
}

.footer_style{
  text-align: left;
  font-size: 13px;
  letter-spacing: 0;
  font-family: Montserrat Regular;
  color: #06187D;
  opacity: 1;
}

.footer_style p a{
  color: #06187D;
  font-family: Montserrat Regular;
  font-size: 13px;
}

.footer_style h6{
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  font-family: Montserrat Medium;
  color: #06187D;
  opacity: 1;
}


.subscribe{
  width: 410px;
  height: 60px;
  border: 1px solid #06187D;
  border-radius: 4px;
  opacity: 1;
  margin-top: 10px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .subscribe{
    width: 330px;
    height: 60px;
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
    margin-top: 10px;
  }
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .subscribe{
    width: 330px;
    height: 60px;
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
    margin-top: 10px;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .subscribe{
    width: 330px;
    height: 60px;
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
    margin-top: 10px;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .subscribe{
    width: 330px;
    height: 60px;
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
    margin-top: 10px;
  }
  
}

.subscribe_btn{
  width: 135px;
  /* height: 44px; */
  background: #06187D 0% 0% no-repeat padding-box;
  border-radius: 4px;
  margin-top: 7%;
  opacity: 1;
  color: #FFFFFF;
  margin-left: -35px;
  font-family: Montserrat Medium;
  font-size: 11px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .subscribe_btn{
    width: 135px;
    /* height: 44px; */
    background: #06187D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin-top: 5%;
    margin-left: 28%;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat Medium;
    font-size: 11px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .subscribe_btn{
    width: 135px;
    /* height: 44px; */
    background: #06187D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin-top: 5%;
    margin-left: 28%;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat Medium;
    font-size: 11px;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .subscribe_btn{
    width: 135px;
    /* height: 44px; */
    background: #06187D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin-top: 5%;
    margin-left: 28%;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat Medium;
    font-size: 11px;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .subscribe_btn{
    width: 135px;
    /* height: 44px; */
    background: #06187D 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin-top: 5%;
    margin-left: 28%;
    opacity: 1;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat Medium;
    font-size: 11px;
  }
  
}

.subscribe_h3{
  text-align: left;
  font-family: Montserrat MediumItalic;
  font-size: 20px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}



.footer_head{
  text-align: left;
  font-size: 20px;
  font-family: Montserrat Medium;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}

.footer_para{
  text-align: left;
  font-size: 13px;
  font-family: Montserrat Regular;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}





/* Flaired edges */

hr.style-three {
  height: 30px;
  border-style: solid;
  border-color: #F0F8FE;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  }
  hr.style-three:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #F0F8FE;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  }
/* ********************************************************************* */


.bg {
  /* The image used */
  background-image: url('../img/invertment.png');
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .bg {
    background-image: url('../img/invertment.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .bg {
    background-image: url('../img/invertment.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}

.about_investments_para{
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  font-family: Montserrat SemiBold;
  margin-left: 30%;
  font-size: 21px;
}


.about_investments_para_roll{
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  font-family: Montserrat SemiBold;
  margin-left: 30%;
  font-size: 27px;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .about_investments_para{
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-family: Montserrat SemiBold;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 21px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .about_investments_para{
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-family: Montserrat SemiBold;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 21px;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .about_investments_para{
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-family: Montserrat SemiBold;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 21px;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .about_investments_para{
    text-align: left;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    font-family: Montserrat SemiBold;
    margin-left: 30%;
    margin-top: 10%;
    font-size: 21px;
  }
  
}


.about_investments_counter{
  text-align: left;
  letter-spacing: 0;
  opacity: 1;
  font-family: Montserrat Bold;
  margin-left: 30%;
  font-size: 50px;
   font-weight: bold;
  color: #2E80B8;
  opacity: 1;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .about_investments_counter{
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    font-family: Montserrat Bold;
    margin-left: 30%;
    font-size: 40px;
     font-weight: bold;
    color: #2E80B8;
    opacity: 1;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .about_investments_counter{
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    font-family: Montserrat Bold;
    margin-left: 30%;
    font-size: 40px;
     font-weight: bold;
    color: #2E80B8;
    opacity: 1;
  }
  
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .about_investments_counter{
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    font-family: Montserrat Bold;
    margin-left: 30%;
    font-size: 40px;
     font-weight: bold;
    color: #2E80B8;
    opacity: 1;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .about_investments_counter{
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    font-family: Montserrat Bold;
    margin-left: 30%;
    font-size: 30px;
     font-weight: bold;
    color: #2E80B8;
    opacity: 1;
  }
  
}

.about_investments_para2{
  text-align: left;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  font-family: Montserrat Medium;
  margin-left: 30%;
  font-size: 15px;;
}

.about_investments_but{
  width: 205px;
  height: 60px;
  background: #EEF1F7 0% 0% no-repeat padding-box;
  border-radius: 5px;
  margin-left: 30%;
  opacity: 1;
  text-align: center;
  font-size:  16px;
  font-family: Montserrat SemiBold;
  text-transform: capitalize;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}

.platform{
  text-align: left;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-top: 10%;
  font-family: Montserrat Bold;
  font-size: 25px;
}


.platform_para p{
  text-align: left;
  letter-spacing: 0;
  color: #06187D;
  margin-bottom: 6%;
  opacity: 1;
  line-height: 2.2;
  font-family: Montserrat Regular;
  font-size: 16px;;
}

.platform_btn{
  height: 50px;
  border: 1px solid #06187D;
  border-radius: 10px;
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0;
  color: #06187D;
  font-family: Montserrat Bold; 
  text-transform: none;
  font-size: 16px;
  margin-bottom: 10%;
}

.platform_img{
 margin-top: 20%;

}


.learn_head{
  text-align: left;
  font-family:  Montserrat Bold;
  font-size: 25px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-top: 15%;
  margin-bottom: 4%;
}

.learn_para{
  text-align: left;
  font-family:  Montserrat Regular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 2.2;
  margin-bottom: 7%;
  color: #06187D;
  opacity: 1;
}

.learn_btn{
  background: #06187D 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  color:#FFFFFF;
  font-family:  Montserrat Bold;
  font-size: 16px;
  text-transform: capitalize;
   
}

.Practice_head{
  text-align: left;
  font-family:  Montserrat Bold;
  font-size: 25px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-top: 15%;
  margin-bottom: 4%;
  margin-left: -8%;
}


.Practice_para{
  text-align: left;
  font-family:  Montserrat Regular;
  font-size: 15px;
  line-height: 2.2;
  letter-spacing: 0;
  margin-bottom: 8%;
  color: #06187D;
  opacity: 1;
  margin-left: -8%;
}


.Practice_btn{
  /* width: 160px;
  height: 56px; */
  border: 1px solid #06187D;
  border-radius: 10px;
  opacity: 1;
  text-align: left;
  font-family:  Montserrat Bold;
  font-size: 16px;
  letter-spacing: 0;
  color: #06187D;
  text-transform: capitalize;
  margin-left: -8%;
}

.reason_head{
  text-align: left;
  font-family:  Montserrat Bold;
  font-size: 26px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
 
  margin-bottom: 6%;
  margin-left: -8%;
}

.reason_h4{
  text-align: left;
  font-family:  Montserrat SemiBold;
  font-size: 22px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-left: -8%;
}

.reason_para{
  text-align: left;
  font-family:  Montserrat Regular;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 12%;
  line-height: 2.2;
  color: #06187D;
  opacity: 1;
  margin-left: -8%;
}




.collapse_about{
  text-align: left;
  font-family:  Montserrat Regular;
  font-size: 20px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}


.panel_title a{ 
 text-align: left;
 font-family: Montserrat Bold;
 font-size: 20px;
 letter-spacing: 0;
 color: #06187D;
 opacity: 1;
}

.panel-title{ 
  padding-bottom: 4%;
  text-align: left;
  font-family: Montserrat Bold;
  font-size: 20px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  
 }

 .panel_p{
  text-align: left;
  font-family: Montserrat Regular;
  font-size: 15px;
  letter-spacing: 0;
  color: #06187D;
  line-height: 2.0;
  opacity: 1;
  margin-bottom: 4%;
 }
 

.panel-collapse{
  padding-bottom: 5%;
  text-align: left;
  font: Regular 15px/19px Montserrat;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}

/* *********************ABOUT CP********************* */

.about_cp {
  /* margin-top: 50%; */
  /* The image used */
  background-image: url('../img/about_cp.png');
  /* height: 100%; */
  /* background-position: center; */
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.about_cp_head{
  text-align: left;
  font-size: 30px;
  font-family: Montserrat Bold;
  font-size: 28px;
  letter-spacing: 0;
  color: #FFFFFF;

}


.the_dream_para{
  text-align: left;
  letter-spacing: 0;
  font-size: 26px;
  font-family: Montserrat Regular;
  color: #FFFFFF;
}


.about_cp_snd_head{
  text-align: center;
  font-size: 30px;
  font-family: Montserrat Bold;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}

.about_cp_snd_para{
  text-align: center;
  color: #06187D;
  margin-top: 5%;
  opacity: 1;
  font-size: 14.5px;
  line-height: 2.3;
  font-family: Montserrat Regular;
}


.gen_backgroud{
  background: #F0F8FE 0% 0% no-repeat padding-box;
  opacity: 1;
}

.trading_about_cp{
  text-align: left;
  font-size: 26px;
  font-family: Montserrat Bold;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}


.about_cp_trading_para{
  text-align: left;
  font-size: 15px;
  font-family: Montserrat Regular;
  line-height: 2.2;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
}


.about_cp_invet_h3{
  text-align: left;
  font-family:  Montserrat Bold;
  font-size: 26px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-top: 1%;
  margin-bottom: 3%;
}
.about_cp_invet_h4{
  text-align: left;
  font-family:  Montserrat SemiBold;
  font-size: 22px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-top: 8%;
  margin-bottom: 4%;
}


.about_cp_invet_para{
  text-align: left;
  font-family:  Montserrat Regular;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 2.5;
  margin-bottom: 7%;
  color: #06187D;
  opacity: 1;
}

.advisory_head{
  text-align: left;
  font-family:  Montserrat Bold;
  font-size: 26px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-top: 30%;
  margin-bottom: 4%;
  margin-left: 0%;
}



.advisory_para{
  text-align: left;
  font-family:  Montserrat Regular;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 2.2;
  margin-bottom: 8%;
  color: #06187D;
  opacity: 1;
  margin-left: 0%;
}


.real_estate_head{
  text-align: left;
  font-family:  Montserrat Bold;
  font-size: 22px;
  letter-spacing: 0;
  color: #06187D;
  opacity: 1;
  margin-bottom: 5%;
}

.real_estate_para{
  text-align: left;
  font-family:  Montserrat Regular;
  font-size: 16px;
  letter-spacing: 0;
  color: #06187D;
  line-height: 1.9;
  opacity: 1;
}


.real_estae_input{
  width: 456px;
  height: 47px;
  border: 1px solid #06187D;
  border-radius: 4px;
  opacity: 1;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .real_estae_input{
    width: 96%;
    height: 47px;
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .real_estae_input{
    width: 96%;
    height: 47px;
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .real_estae_input{
    width: 96%;
    height: 47px;
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .real_estae_input{
    width: 96%;
    height: 47px;
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
  }
  
  
}

.real_estae_box{
  height: 500px;  
  border: 1px solid #06187D;
  border-radius: 4px;
  opacity: 1;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .real_estae_box{
    width: 96%;
    height: 500px;  
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .real_estae_box{
    width: 96%;
    height: 500px;  
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .real_estae_box{
    width: 96%;
    height: 500px;  
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .real_estae_box{
    width: 96%;
    height: 500px;  
    border: 1px solid #06187D;
    border-radius: 4px;
    opacity: 1;
  }
  
}


.real_estate_contact{
  text-align: left;
  font-family:  Montserrat Bold;
  font-size: 26px;
  color: #06187D;
  font-weight: bold;
  
}

.real_estate_btn{
  width: 142px;
  height: 47px;
  font-family:  Montserrat Medium;
  font-size: 10px;
  background: #06187D 0% 0% no-repeat padding-box;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: 1;
}


.contact_icon a {
 
  /* background-color: yellow;*/
   color: blue;
   padding-right: 25px;
  
  } 
  
  
  .contact_icon i {
   background-color: #FFFFFF;
   padding: 10px;
   border-radius: 360px;
  
  
  } 
  
  .map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:80%;
  width:100%;
  position:absolute;
  }












  .col_testimony{
    display: inline-block;
    margin-left:-4px;
  }
  .col_testimony {
    width:100%;
    height:auto;
  }
  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
 
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .col_testimony{
    display: inline-block;
    /* margin-left:-4px; */
  }
  .col_testimony {
    width: 2%;
    height:auto;
  }
  
}


.rotatechange{
  display: none;
}


.rotatechange1{
  display: block;
}


.roll {
  display: none
}


.policyBg {
  /* The image used */
  margin-top: 4%;
  background-image: url('../img/Policy.png');
  /* Full height */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.policyHead{
  text-align: center;
  letter-spacing: 0;
  font-family:  Montserrat SemiBold;
  font-size: 32px;
  color: #FFFFFF;
  opacity: 1;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .policyHead{
    text-align: center;
    margin-top: 26%;
    letter-spacing: 0;
    font-family:  Montserrat SemiBold;
    font-size: 32px;
    color: #FFFFFF;
    opacity: 1;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .policyHead{
    text-align: center;
    margin-top: 26%;
    letter-spacing: 0;
    font-family:  Montserrat SemiBold;
    font-size: 32px;
    color: #FFFFFF;
    opacity: 1;
  }
  
}

.policy_text{
  text-align: left;
  letter-spacing: 0;
  font-family:  Montserrat Regular;
  font-size: 16px;
  opacity: 1;
}

.policy_joinCls h4{
  text-align: left;
  letter-spacing: 0;
  font-family:  Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  opacity: 1;
}

.term_joinCls h4{
  text-align: left;
  letter-spacing: 0;
  font-family:  Helvetica;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  opacity: 1;
}

.policy_joinCls p{
  text-align: left;
  letter-spacing: 0;
  font-family:  Montserrat Regular;
  font-size: 14px;
  opacity: 1;
}


  
